* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #D2B48C;
}
body::-webkit-scrollbar {
    width: 0%;
}
hr {
    background: #5c1600;
    width: 80%;
    height: 5px;
    margin: auto;
    border: 0;
}
nav {
    background: #D2B48C;
}
.navbar-brand {
    margin: auto 2%;
}
/* .nav-link {
    color: #5c1600;
} */
.navbar-nav {
    /* margin-left: 68%; */
    /* margin: auto 25px; */
    margin-left: 68%;
}
.nav-link:hover {
    font-weight: 800;
} 
.dropdown-item:hover {
    font-weight: 800;
} 
header {
    width: 100%;
    height: 100vh;
    margin: auto;
    /* padding: 20px 0; */
    position: relative;
    overflow: hidden;
}
.message {
    width: 90%;
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20;
    /* margin: auto; */
}
.message h1 {
    font-size: 100px;
    margin-bottom: 0 auto 5px;
    color: #F5F5DC;
}
.message hr {
    width: 100%;
    height: 2px;
    margin: 0 auto 5px auto;
    background: #fff;
}
.message input {
    width: 70%;
    height: 60px;
    color: #fff;
    background: transparent;
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
    font-size: 16px;
    border-radius: 15px;
    padding: 15px;
    margin: 10px auto;
    border: 1px solid #F5F5DC;
    outline: none;
}
.message button {
    width: 30%;
    color: #fff;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #F5F5DC;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: 1s;
}
/* .message button:hover {
    background: #fff;
    color: #333;
    border: none;
    font-weight: 600;
} */
.message button a {
    font-family: 'Comic Neue', cursive;
    text-decoration: none;
    color: #fff;
}
.header p {
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 15px;
    z-index: 20;
    width: 100%;
}


/* .part {
    width: 90%;
    margin: auto;
} */

.text-box {
    width: 90%;
    color: #F5F5DC;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20;
}
.text-box h1 {
    font-size: 75px;
}
.text-box span {
    /* background: #F5F5DC; */
    color: #D2B48C;
    font-weight: 700;
    /* padding: 0 10px; */
}
.text-box p {
    margin: 5px 0 30px;
    font-size: 18px;
    letter-spacing: 1px;
}
.hero-btn {
    /* display: inline-block; */
    text-decoration: none;
    color: #F5F5DC;
    border: 1px solid #F5F5DC;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 12px 35px;
    font-size: 15px;
    background: transparent;
    /* position: relative; */
    cursor: pointer;
    transition: 1s;
}
.hero-btn:hover {
    font-weight: 700;
    border: 0;
    color: #451400;
    background: #D2B48C;
}

.container {
    width: 90%;
    margin: 5px auto;
    text-align: center;
    padding: 30px 0;
}
.container h1 {
    color: #451400;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}
.container p {
    color: #F5F5DC;
    font-weight: 600;
}
.container p span {
    color: #451400;
}
.row {
    margin: 5px 0;
}
.pro-col {
    margin: 5px 10px;
    border: 2px solid #F5F5DC;
    padding: 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    /* background: #641e02; */
}
.cus-col {
    border-radius: 10px;
    margin: 5px;
    text-align: left;
    background: rgba(69,20,0,0.2);
    padding: 20px;
    display: flex;
}
.cus-col .peeps {
    height: 40px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
}
.cus-col h5 {
    color: #451400;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}
.cus-col p {
    font-size: 14px;
    padding: 0;
}
.rating img {
    width: 15px;
}

.cta {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(img/cake.jpg);
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 50vh;
    margin: 100px auto;
    text-align: center;
    padding: 100px 0;
    position: relative;
}
.cta .order {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    width: 80%;
    margin: auto;
}
.order h5 {
    font-size: 35px;
    color: #F5F5DC;
    margin-bottom: 25px;
    line-height: 1.4;
    font-weight: 600;
}

.foot {
    width: 100%;
    margin: auto;
    text-align: center;
    /* background-color: #451400; */
    padding: 20px 5px;
}
.foot h6 {
    font-size: 24px;
    color: #451400;
    font-weight: 700;
}
.foot p {
    color: #451400;
    font-weight: 600;
    /* letter-spacing: 1px; */
    /* font-size: 18px; */
}
/* .foot .socials {
    display: flex;
} */
.socials img {
    width: 20px;
    margin: 10px 3px;
}   


@media (max-width:768px) {
    header {
        height: 100vh;
        width: 100%;
        background-image: url(img/cake.jpg);
        background-position: center;
        background-size: cover;
    }
    .message h1 {
        font-size: 50px;
    }
    .message input {
        width: 100%;
    }
    .message button {
        width: 70%;
    }
    .navbar-nav {
        margin-left: 0;
    }
    .text-box h1 {
        font-size: 50px;
    }
    .bg {
        display: none;
    }
    .row {
        flex-direction: column;
    }
    .container p {
        font-size: 18px;
    }
    .pro-col {
        margin: 5px auto;
    }
    .cus-col {
        margin: 5px auto;
    }
    .cta {
        padding: 150px 0;
    }
    .order h5 {
        font-size: 24px;
    }
}